<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ site.baseurl }}{{ page.url }}"
  },
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: page.excerpt | strip_html | truncatewords: 30 | jsonify }},
  "image": "{{ site.url }}{{ site.baseurl }}{{ page.image | default: site.image | default: site.og_image }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": {{ page.author | default: site.author | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.author | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.baseurl }}/assets/images/logo.png"
    }
  },
  "inLanguage": "ru-RU"
}
</script>
