<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ site.author | jsonify }},
  "url": "{{ site.url }}{{ site.baseurl }}/",
  "logo": "{{ site.url }}{{ site.baseurl }}/assets/images/logo.png",
  "email": {{ site.email | jsonify }},
  "sameAs": [
    {% if site.social.telegram != "" %}"https://t.me/{{ site.social.telegram }}"{% if site.social.vk != "" or site.social.youtube != "" %},{% endif %}{% endif %}
    {% if site.social.vk != "" %}"https://vk.com/{{ site.social.vk }}"{% if site.social.youtube != "" %},{% endif %}{% endif %}
    {% if site.social.youtube != "" %}"https://youtube.com/@{{ site.social.youtube }}"{% endif %}
  ]
}
</script>
